/* Dark theme */
$dark-background-color: #141718;
$dark-surface-color: #232627;
$dark-on-background-color: #e2e2e2;

// Colors
$primary-color: #45ba4a;
$secondary-color: #0084ff;
$on-error-color: #cf6679;
